<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header class="navigation">
        {{#if authenticated}}
            <a href="/users/logout">Log Out</a>
            {{#if household}}
                <a href="/household/info">My Household</a>
            {{else}}
                <a href="/household/new">New Household</a>
            {{/if}}
            <a href="/users/profile">My Profile</a>
        {{else}}
            <a href="/">Home</a>
            <a href="/users/login">Log In</a>
            <a href="/users/signup">Sign Up</a>
        {{/if}}
    </header>
    <main>
        {{{body}}}
    </main>
    <footer></footer>
</body>
</html>