<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        {{#if authenticated}}
            <a href="/users/logout">Log Out</a>
            <a href="/household/info">Home</a>
            <a href="/users/profile">My Profile</a>
        {{else}}
            <a href="/users/login">Log In</a>
            <a href="/users/signup">Sign Up</a>
            <a href="/">Welcome</a>
        {{/if}}
    </header>
    <main>
        {{{body}}}
    </main>
    <footer></footer>
</body>
</html>