<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <a href="/users/login">Log In</a>
        <a href="/users/signup">Sign Up</a>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer></footer>
</body>
</html>