<div class="announcements-view">
  <h1>{{pageTitle}}</h1>
  <ul class="announcements-list">
    {{#each announcements}}
    <li class="announcement-post">
      {{this.announcement}}<br>
      {{this.comment}}<br>
      <i id="date">{{this.currentDate}}</i>
    </li>
    {{/each}}
  </ul>
</div>
