body {
    margin: auto;
    padding: 0px;
    background: white;
    font-family: Roboto;
    font-size: 15pt;
    color: black;
}

main {
    padding: 25px;
    max-width: 75%;
    margin: auto;
}

header {
    background-color: white;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid #5d8770;
    overflow: hidden;
}

.form,
.landing-view,
.new-household,
.profile-user,
.household-info {
    margin: auto;
    text-align: center;
}

.members-list,
.error-list {
    text-align: left;
}

.profile-user th {
    padding: 10px;
    text-align: left;
}

.profile-user td {
    border: 1px solid;
    text-align: left;
    padding: 10px;
    width: 250px;
    background-color: white;
    border-radius: 5px;
}

.navigation {
    top: 0;
    padding-top: 25px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: white;
}

.new-household a {
    color: white;
    margin-right: 10px;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
    background: #4eaf73;
    border-radius: 5px;
}


.navigation a {
    float: left;
    display: block;
    color: white;
    margin-right: 5px;
    margin-left: 10px;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
    background: #4eaf73;
    border-radius: 5px;
}

.navigation a:hover,
.new-household a:hover {
    background: #3d8b5b;
}

.landing-view {
    margin-top: 60px;
    position: static;
    padding: 20px;
    background-color: #f5fff0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #78ba7c;
    margin-bottom: 5px;
    margin-top: 60px;
    position: static;
}

h1, h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#submit-button,
#reset-button {
    background-color: #4eaf73;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 10px 14px;
}

#submit-button:hover,
#reset-button:hover {
    background: #3d8b5b;
}

h1 {
    font-size: 2rem;
}

#firstName,
#lastName,
#email,
#password,
#username,
#age,
#householdName {
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;
    margin: 5px;
}

.announcements-list, .grocerys-list, .comments-list {
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, #5d8770 0px 0px 0px 1px;
    width: 100%;
    padding: 0;
    height: auto;
    padding: 20px;
    list-style: none;
}

.announcement-post, .groceryLists, .comments {
    border-bottom: 1px solid #5d8770;
    padding: 10px;
}

/* https://codepen.io/fenwil/pen/oNjgQKw */
.login, .signup {
    text-align: center;
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    /* https://getcssscan.com/css-box-shadow-examples */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, #5d8770 0px 0px 0px 1px;
    padding: 10px;
    width: 300px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* https://www.w3schools.com/css/css_grid.asp */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px; 
}

.grid-item a {
    color: white;
    background-color: #78ba7c;
    text-decoration: none;
}

.grid-item {
    color: white;
    background-color:#78ba7c;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.grid-item h2 {
    color: white;
}

.grid-item:hover {
    text-decoration: none;
    background-color:#a1d3a4;
}

.grocery {
    font-size: 30px;
}

a {
    text-decoration: none;
}