<h1>Welcome Back {{user.firstName}}!</h1>
{{#if user.shopper}}
    <p>You are currently this week's shopper.</p>
{{else}}
    <p>Phew! You're not this week's shopper.</p>
{{/if}}
<p>Here is everyone in your household, <strong>{{user.householdName}}.</strong></p>
<ul class="members-list">
    {{#each members}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>