<div class="household-info">
    <h1>The {{user.householdName}} Household</h1>
    <p>This week's shopper is: <strong>{{house.shopper}}</strong>!</p>
    <ul class="members-list">
    <p><strong>Members</strong></p>
        {{#each members}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
</div>