<div class="form">
<h1>{{pageTitle}}</h1>
<p>Please Enter Details Here:</p>
<form action="/household/join" method="POST" class="join-form" id="join-form">
  <label for="householdName">
    <input type="text" name="householdName" placeholder="Household Name" value="{{user.householdName}}" id="householdName">
  </label>
  <input type="submit" id="submit-button">
  <input type="reset" id="reset-button">
</form>
{{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div>