<h1>Welcome {{user.firstName}}!</h1>
<p>Please Create or Join a Household!</p>
<div class="new-household">
    <a href="/household/create">Create Household</a>
    <a href="/household/join">Join Household</a>
</div>