<div class="form">
    <h1>Welcome {{user.firstName}}!</h1>
    <p>Please Create or Join a Household!</p>
    <div class="new-household">
        <a href="/household/create" title="Create Household">Create Household</a>
        <a href="/household/join" title="Join Household">Join Household</a>
    </div>
</div>