<h1>Welcome to Grocery Genie!</h1>
<p>The Grocery Genie web application seeks to make grocery shopping easier by allowing you to create, edit, and share lists with your roommates!<br>
After creating an account, you can choose to create a household and invite others to join, or join another household with the code you recieve.</p>