<div class="landing-view">
    <h1 id="welcome">Welcome to Grocery Genie!</h1>
    <p id="welcome-description">Grocery Genie seeks to make grocery shopping easier by allowing you to create, edit, and share lists with your roommates! With our handy announcements tab you will be able to recieve updates from your fellow household members on any changes to your shared grocery lists.</p>
    <p>After creating an account, you can choose to create a household with your very own catchy name and invite others to join, or join another household by entering the household name they created.</p>
</div>