<div class="form">
<h1>{{pageTitle}}</h1>
<p>Please Enter Details Here:</p>
<form action="/users/login" method="POST" class="login-form" id="login-form">
  <label for="email">
    <input type="text" name="email" placeholder="Email Address" value="{{user.email}}" id="email">
  </label>  
  <label for="password">
    <input type="password" name="password" placeholder="Password" value="{{user.password}}" id="password">
  </label>
  <input type="submit" id="submit-button">
  <input type="reset" id="reset-button">
</form>
{{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div>